/HOSPITAPP/*.iml
/HOSPITAPP/.gradle
/HOSPITAPP/local.properties
/HOSPITAPP/.idea/caches
/HOSPITAPP/.idea/libraries
/HOSPITAPP/.idea/modules.xml
/HOSPITAPP/.idea/workspace.xml
/HOSPITAPP/.idea/navEditor.xml
/HOSPITAPP/.idea/assetWizardSettings.xml
/HOSPITAPP/.DS_Store
/HOSPITAPP/build
/HOSPITAPP/captures
/HOSPITAPP/.externalNativeBuild
/HOSPITAPP/.cxx
/PROVITAPP/*.iml
/PROVITAPP/.gradle
/PROVITAPP/local.properties
/PROVITAPP/.idea/caches
/PROVITAPP/.idea/libraries
/PROVITAPP/.idea/modules.xml
/PROVITAPP/.idea/workspace.xml
/PROVITAPP/.idea/navEditor.xml
/PROVITAPP/.idea/assetWizardSettings.xml
/PROVITAPP/.DS_Store
/PROVITAPP/build
/PROVITAPP/captures
/PROVITAPP/.externalNativeBuild
/PROVITAPP/.cxx
